name: React build

on:
  push:
    branches:
      - feature/*

jobs:
  build:
    name: install & build
    runs-on: ubuntu-latest
    steps:
      - name: install
        run: |
          npm install
      - name: build
        run: |
          npm run build --if-present
        env:
          CI: true
